

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
  
/* Track */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #534848c7;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
